<main>
    <h2>BUTTONS</h2>

    <div class="row">
        <div class="col s12 m3 l2">
            <ol>
                <li>Rounded</li>
                <li>Sharp</li>
                <li>Circular</li>
            </ol>

            <ol>
                <li>Filled</li>
                <li>Outline</li>
            </ol>

            <ol>
                <li>Gradient</li>
                <li>Colour</li>
            </ol>

            <ol>
                <li>Smaller-1</li>
                <li>Smaller-2</li>
                <li>Smaller-3</li>
            </ol>

            <ol>
                <li>Bigger-1</li>
                <li>Bigger-2</li>
                <li>Bigger-3</li>
            </ol>

            <ol>
                <li>Loner</li>
                <li>Joined</li>
            </ol>
        </div>

        <div class="col s12 m9 l10">
            <button class="circular btn">Accept All</button>
        </div>
    </div>
</main>